<%= form_for(@purchase) do |f| %>

  <div class="field">
    <%= f.label :supplier_id %><br>
    <%= f.number_field :supplier_id %>
  </div>
  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.number_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
