<div class="col-sm-2 col-lg-2">
  <div class="sidebar-nav">
    <div class="nav-canvas">
      <ul class="nav nav-pills nav-stacked main-menu">
        <li class="nav-header">Main</li>
        <li><a class="ajax-link" href="#"><i class="fa fa-home"></i><span> Dashboard</span></a>
        </li>
        <li class="accordion">
          <a href="#"><i class="fa fa-users"></i><span> Customer</span></a>
          <ul class="nav nav-pills nav-stacked">

            <li><a href= <%= new_customer_path %> <i class="glyphicon glyphicon-edit"></i><span> Register</span></a></li>

            <li><a href = <%= customers_path %>><i
            class="glyphicon glyphicon-eye-open"></i><span> View</span></a></li>
          </ul>
        </li>
        <li class="accordion">
          <a href="#"><i class="fa fa-database"></i><span> Category</span></a>
          <ul class="nav nav-pills nav-stacked">

            <li><a href= <%= new_category_path %> ><i class="glyphicon glyphicon-edit"></i><span> Register</span></a></li>

            <li><a href= <%= categories_path %> ><i
            class="glyphicon glyphicon-eye-open"></i><span> View</span></a></li>
          </ul>
        </li>
        <li><a class="ajax-link" href= <%= items_path %> ><i class="fa fa-sitemap"></i><span> Items</span></a>

        <li class="accordion">
          <a href="#"><i class="fa fa-sign-in"></i><span> Suppliers</span></a>
          <ul class="nav nav-pills nav-stacked">

            <li><a href=<%= new_supplier_path %><i class="glyphicon glyphicon-edit"></i><span> Register</span></a></li>

            <li><a href=<%= suppliers_path %>><i
            class="glyphicon glyphicon-eye-open"></i><span> View</span></a></li>
          </ul>
        </li>
        <li class="accordion">
          <a href="#"><i class="fa fa-sign-in"></i><span> Purchase</span></a>
          <ul class="nav nav-pills nav-stacked">

            <li><a href= <%= new_purchase_path %>> <i class="glyphicon glyphicon-edit"></i><span> Register</span></a></li>

            <li><a href=<%= purchases_path %>><i
            class="glyphicon glyphicon-eye-open"></i><span> View</span></a></li>
          </ul>
        </li>

        <li><a class="ajax-link" href="#"><i class="fa fa-sign-out"></i><span> Sales</span></a>
        </li>
      </ul>

    </div>
  </div>
</div>
