<%= render 'shared/header'%>
<div class="ch-container">
  <div class="row">
    <%= render 'shared/navigation_menu'%>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <%= render 'shared/breadcumb'%>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="fa fa-sitemap"></i> Update items</h2>
              <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                class="glyphicon glyphicon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
              </div>
            </div>
            <div class="box-content">
              <%= form_for(@item) do |f| %>
                  <div class="row">
                    <div class="box col-md-12">
                      <div class="box-inner col-md-12">
                        <div class="box-content">
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:name,'Name') %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :name,class: 'form-control',placeholder:' Name' %>
                                <span class="help-block text-danger text-danger" id="item_name_error"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:category_id,'Category') %>
                              </div>
                              <div class="col-md-8">
                                <%= f.select(:category_id, options_from_collection_for_select(@categories, "id", "name"), {prompt: 'Choose Categories'}, {class: 'form-control select'}) %>
                                <span class="help-block text-danger text-danger" id="item_category_id_error"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:quantity,'Quantity') %>
                              </div>
                              <div class="col-md-8">
                                <%= f.number_field :quantity,class: 'form-control',placeholder:'Quantity' %>
                                <span class="help-block text-danger text-danger" id="item_quantity_error"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:unit_price,'Unit Price') %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :unit_price,class: 'form-control',placeholder:'Unit Price' %>
                                <span class="help-block text-danger text-danger" id="item_unit_price_error"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:margin,'Margin') %>
                              </div>
                              <div class="col-md-8">
                                <%= text_field_tag :margin_percentage,'20',class: 'form-control',placeholder:'Margin' %>
                                <span class="help-block text-danger text-danger" id="margin_percentage_error"></span>
                              </div>
                            </div>
                          </div>

                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:sell_price,'Sell Price') %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :sell_price,class: 'form-control',placeholder:'Sell Price' %>
                                <span class="help-block text-danger text-danger" id="item_sell_price_error"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-4">
                                <%= f.label(:expiration_date,'Expired on') %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :expiration_date,class: 'form-control',placeholder:'Expired on' %>
                                <span class="help-block text-danger text-danger" id="item_expiration_date_error"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-bottom">
                            <div class="col-md-8">
                              <div class="col-md-8">
                              </div>
                              <div class="modal-footer">
                                <%= f.submit'Register',class: 'btn btn-default',id: 'create-customer-btn' %>
                              </div>
                              <div class="col-md-4">

                              </div>


                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>


  <footer class="row">
    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#" target="_blank">Mint Mart</a>2015</p>
  </footer>

</div><!--/.fluid-container-->

<%= render 'shared/logout_msgbox' %>
