<%= render 'shared/header'%>

<%= render 'shared/navigation_menu'%>
<%= render 'shared/breadcumb'%>
<% render 'form' %>

<% link_to 'Back', items_path %>

<%= @barcode%>
<% content_for :title, "Payment-MachPay" %>
<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top-fixed page-fixed-width">
  <!-- PAGE CONTENT -->
  <div class="page-content">
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
      <div class="row">
        <div class="col-md-9">
          <%= form_tag("/payments/pay", method: :post,class:'form-horizontal') do %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Add Items</strong></h3>
                </div>
                <div class="panel-body form-payment">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="col-md-6">
                        <h3 class="text-center">Items Details </h3>

                        <div class="form-group">
                          <%= label_tag(:name, "Item Name",class:'col-md-3 control-label')%>
                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][name]" value="Book" class="form-control" >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:description, "Description",class:'col-md-3 control-label')%>
                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][description]" value="Nice books" class="form-control" >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:rate, "Rate",class:'col-md-3 control-label')%>
                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][rate]" value="120" class="form-control" >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:quantity, "Quantity",class:'col-md-3 control-label')%>
                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][quantity]" value="100" class="form-control" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <h3 class="text-center">Items Details </h3>
                        <div class="form-group">
                          <%= label_tag(:name, "Item Name",class:'col-md-3 control-label')%>
                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][name]" value="Laptop" class="form-control" >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:description, "Description",class:'col-md-3 control-label')%>
                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][description]" value="Dell Laptop 5520" class="form-control" >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:rate, "Rate",class:'col-md-3 control-label')%>

                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][rate]" value="50000" class="form-control" >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag(:quantity, "Quantity",class:'col-md-3 control-label')%>

                          <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                              <input type="text" name="items[][quantity]" value="10" class="form-control">
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-xs-12">
                          <div class="input-group">

                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= label_tag(:description, "Description",class:'col-md-3 control-label')%>

                        <div class="col-md-9 col-xs-12">
                          <div class="input-group">
                            <input type="text" name="description" value="Nice Stuff" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= label_tag(:total, "Total",class:'col-md-3 control-label')%>

                        <div class="col-md-9 col-xs-12">
                          <div class="input-group">
                            <input type="text" name="total" value="512" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">

                  <button class="btn btn-primary pull-right"><span class="fa fa-arrow-circle-right"></span> Pay </button>
                </div>
              </div>

          <%end%>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

