<%= render 'shared/header' %>
<div class="ch-container">
  <div class="row">
    <%= render 'shared/navigation_menu' %>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <%= render 'shared/breadcumb' %>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="fa fa-sitemap"></i> Transaction List</h2>

              <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                class="glyphicon glyphicon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
              </div>
            </div>
            <div class="box-content">
              <div class="col-md-12">
                <div class="xn-search pull-right margin-bottom col-xs-12 col-md-3 pull-right">
                  <form role="form">
                    <input type="text" placeholder="Search" id="input-search-sales-main">
                  </form>
                </div>
                <%= form_tag sales_path, id: 'sales_reports_form',url: 'sales/index',remote: true do %>
                    <div class="pull-left margin-bottom col-xs-12 col-md-3">
                      <%= text_field_tag 'start_date', '', placeholder: 'Start Date', class: 'form-control', id: 'sales_report_start_date' %>
                    </div>

                    <div class="pull-left margin-bottom col-xs-12 col-md-3">
                      <%= text_field_tag 'end_date', '', placeholder: 'End Date', class: 'form-control', id: 'sales_report_end_date' %>
                    </div>

                    <%= button_tag class: 'btn btn-primary' do %>
                        <span class="fa fa-files-o fa-right"></span>
                        Generate Report
                    <% end %>

                <% end %>

              </div>
              <table class="table table-striped table-bordered bootstrap-datatable datatable responsive" id="sales-index-main-table" data-source="<%= sales_path(format: :json) %>">
                <thead>
                <tr>
                  <th>Receipt no.</th>
                  <th>Customer Name</th>
                  <th>Amount</th>
                  <th>Payment Method</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <th></th>
                <th class="pull-right">Total</th>
                <th id ='sales-table-footer-total'><%= @total_amount %></th>
                </tfoot>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="row">
    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#" target="_blank">Mint Mart</a>2015</p>
  </footer>

</div><!--/.fluid-container-->

<%= render 'shared/logout_msgbox' %>
