<%= render 'shared/header' %>
<div class="ch-container">
  <div class="row">
    <%= render 'shared/navigation_menu' %>
    <div id="content" class="col-lg-10 col-sm-10">
      <!-- content starts -->
      <%= render 'shared/breadcumb' %>
      <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="fa fa-sitemap"></i> Sales</h2>
              <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                class="glyphicon glyphicon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
              </div>
            </div>
            <div class="box-content">
              <%= form_for (@item), html: {class: 'sales', id: 'new-sale'} do |f| %>
                <div class="row">
                  <div class="box col-md-12">
                    <div class="box-inner col-md-12">
                      <div class="box-content">
                        <div class="row margin-bottom">
                          <div class="col-md-12">
                            <div class="col-md-2">
                              <%= f.label(:name, 'Item ID') %>
                            </div>
                            <div class="col-md-4">
                              <%= f.text_field :name, class: 'form-control', autofocus: true %>
                            </div>
                            <div class="col-md-4">
                              <%= f.submit 'Add To Cart',class: 'btn btn-default' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

              <span class="btn btn-success pull-right margin-bottom" id ='sell_item_btn'><i class="fa fa-sign-out icon-white"></i> Checkout</span>


              <table class="table table-striped table-bordered bootstrap-datatable datatable responsive items-main-table-new" id = "sales-main-table-new">
                <thead>
                <tr>
                  <th>Item ID</th>
                  <th>Name</th>
                  <th>Rate</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Net Total</th>
                  <th id="sales_net_total"></th>
                  <th></th>
                </tr>
                </tfoot>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>


  <footer class="row">
    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy;
      <a href="#" target="_blank">Mint Mart</a>2015</p>
  </footer>

</div><!--/.fluid-container-->


<%= render 'shared/logout_msgbox' %>
<%= render 'checkout_div' %>
<%= render 'add_quantity_div' %>
<%= render 'sales/sales_error' %>
